header {
  padding: 180px 0;
  line-height: 5rem;
  /*background: url(../img/header-bg.jpg);*/
  background-position: left 50%;
  background-size: cover;
  position: relative;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FCF9ED;
    opacity: .78;
    content: "";
    display: block;
  }
  #bg-video {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute !important;
  }
  nav {
    position: relative;
    z-index: 500;
  }
}
#bg-video {
  video {
    z-index: 9999 !important;
    &>div {
      z-index: 9999 !important;
    }
  }
}
.logo {
  font-size: 2rem;
  min-height: 5rem;
  padding-bottom: 22.1888314%;
  position: relative;
  margin: 0;
  a, svg {
    min-height: 5rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes moveBg {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}
